.header {
    background: #294d02;
    transition: all 0.5s;
    z-index: 100;
    /*(height: 71px; */
    border-bottom: 1px solid #fff; 
}
.hero {
    width: 100%;
    background-size: cover;    
    background-image: url(images/Paliya.jpg);
    position: relative;
    min-height: 90vh;
    padding: 60px 0 60px 0;
}
.hero3 {
    width: 100%;
    background-size: cover;    
    background-image: url(images/hero3.jpg);
    position: relative;
    opacity: 0.9;
    min-height: 30vh;
    padding: 60px 0 60px 0;
}
.hero3 p {
  color:white;
}
.hero2 {
    width: 100%;
    background-size: cover;    
    background-image: url(images/aboutimage2.jpg);
    position: relative;
    min-height: 90vh;
    padding: 60px 0 60px 0;
}
.hero h2 {
    font-size: 64px;
    font-weight: 700;    
    margin-bottom: 20px;
    color: white;    
    font-family: 'Roboto', sans-serif;
}
.hero2 h2 {
    font-size: 64px;
    font-weight: 700;    
    margin-bottom: 20px;
    color: white;    
    font-family: 'Roboto', sans-serif;
}
.hero p {
  color:white;
}
section {
  overflow: hidden;
  padding: 40px 0;
}
.footer {
    font-size: 14px;
    background-color: #192f01;
    padding: 50px 0;
    color: rgba(255, 255, 255, 0.7);
}
.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
}
.footer .social-links a:hover {
    color: #fff;
    border-color: #fff;
}
.footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
    color: #fff;
}   
.footer .copyright {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.container-body-innerpage {
    margin-top: 1em;
    margin-bottom: 1em;
  } 
  .tablecontainer {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
  }